.App{
  background-color: #ddd;
  padding: 12px;
  
  width: 800px;
  

}
.App ul{
  margin: 0px;
  padding: 0px;
  
 
  

}
.todoList li{
  background-color: darkgray;
  padding: 6px 12px;
  margin: 6px;
  margin-left: 0px;
  list-style: none;
  display: flex;
  justify-content:space-between;


}
.todoList li i{
  margin:0px 3px;
  
  
}